<div class="col-md-6 offset-md-3 mt-5">
  <!--<div id="pikDate" class="row">
    <mat-label for="datePicker">Meni za datum</mat-label>
    <input id="datePicker" matInput [matDatepicker]="picker1" [formControl]="date">
    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
    <mat-datepicker #picker1></mat-datepicker>
  </div>-->

  <div class="card">
    <h4 class="card-header">
      Meni za datum
      <input (dateChange)="onDateChange($event)" [matDatepicker]="picker1" [formControl]="date">
      <mat-datepicker-toggle [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker  #picker1></mat-datepicker>
    </h4>
    <div class="card-body">
      <!--<input matInput [matDatepicker]="picker1" [formControl]="date">
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>-->
    </div>
  </div>

  <!--<mat-label>Angular forms</mat-label>
    <input matInput [matDatepicker]="picker1" [formControl]="date">
    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
    <mat-datepicker #picker1></mat-datepicker>


  <mat-radio-group aria-label="Izaberi obrok">
    <mat-radio-button value="1">Option 1</mat-radio-button>
    <mat-radio-button value="2">Option 2</mat-radio-button>
  </mat-radio-group>-->
</div>

<mat-accordion class="example-headers-align">
  <div *ngIf="hrana">
    <mat-expansion-panel *ngFor="let item of hrana; let i = index;" [expanded]="step === i" (opened)="setStep(i)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">

        </mat-panel-title>
        <mat-panel-description>
          {{item.hrana.naziv}}
          <mat-icon>account_circle</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-action-row>
        <button *ngIf="i > 0" mat-button color="warn" (click)="prevStep()">Prethodni</button>
        <button mat-button color="primary" (click)="nextStep()">{{i == hrana.length - 1 ? 'Kraj' : 'Sledeći'}}</button>
      </mat-action-row>
    </mat-expansion-panel>
  </div>

</mat-accordion>
